<form #employeeForm="ngForm">
    <div>
        <label for="firstName">First Name: </label>
        <input type="text" name="firstName" required [(ngModel)]="newEmployee.firstName" #firstName="ngModel">
    </div>
    <p [hidden]="firstName.valid || firstName.pristine" class="text-primary">
        you must have a name buddy !
    </p>
    <div>
        <label for="lastName">Last Name: </label>
        <input type="text" name="lastName" required [(ngModel)]="newEmployee.lastName" #lastName="ngModel">
    </div>
    <div [hidden]="lastName.valid || lastName.pristine" class="error">
        you must have a name buddy !
    </div>
    <div>
        <label for="dob">Date Of Birth: </label>
        <input type="text" name="dob" required [(ngModel)]="newEmployee.dob" #dob="ngModel">
    </div>
    <div [hidden]="dob.valid || dob.pristine" class="error">
        you must have a name buddy !
    </div>
    <button (click)="saveEmployeeDetails()" [disabled]="!employeeForm.form.valid">save</button>
</form>
<button [routerLink]="['/home']">cancel</button>